.todo_container {
	display: block;
	width: 400px;
	margin: 10px auto 100px;
	background-color: var(--color-white);
	padding:0px 10px 10px 10px;
	border-radius:10px
}

.todo_container h1 {
    background: linear-gradient(
    to right, 
    var(--color-light-green), 
    var(--color-light-blue)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 4em;
    line-height: 1.1;
    text-transform: uppercase;
}

.todo_list {
    margin-top: 3vh;
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    /* background-color: rebeccapurple; */
    align-items: center;
}

.todo_text_box {
    gap: 2vh;
}

.todo_item {
    border: 1px solid var(--color-black);
}

.todo_text_div {
    width: 70%;
    float: left;
    height: fit-content;
    word-wrap: break-word;
}

.todo_btn_div {
    width: 30%;
    float: right;
    top: 50%;
}

.todo_text {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
}

.done_button {
    float: left;
    margin-left: auto;
    /* margin-left: 20%; */
    align-items: center;
    width: 40%;
    background: var(--color-green);
    border: 0 solid var(--color-white);
    box-shadow: 0 4px 6px -1px var(--color-black), 0 2px 4px -1px var(--color-tint-black);
    box-sizing: border-box;
    color: var(--color-black);
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 5% 5% 5% 5%;
    height: 30%; 
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 12px;
    text-decoration: none;
    /* width: auto; */
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.delete_button {
    float: right;
    margin-right: auto;
    align-items: center;
    width: 40%;
    background: var(--color-red);
    border: 0 solid var(--color-white);
    box-shadow: 0 4px 6px -1px var(--color-black), 0 2px 4px -1px var(--color-tint-black);
    box-sizing: border-box;
    color: var(--color-black);
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 5%;
    height: 30%; 
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 12px;
    text-decoration: none;
    /* width: auto; */
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Main form */
.input_box {
    box-shadow: inset var(--color-light-blue) 0 0 0 2px;
    border: 0;
    /* background: var(--color-black); */
    appearance: none;
    width: 60%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    transition: all .2s ease;
}

.input_box:hover{
    box-shadow: 0 0 0 0 var(--color-light-blue) inset, var(--color-tint-green) 0 0 0 2px;
}

.input_box:focus{
    background: var(--color-white);
    outline: 0;
    box-shadow: 0 0 0 0 var(--color-light-blue) inset, var(--color-tint-green) 0 0 0 2px;

}

.submit_button {
    width: 30%;
    margin-left: 4%;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    /* padding: 0 56px; */
    height: 45px;
    line-height: 45px;
    /* text-align: center;
    justify-content: center; */
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid var(--color-light-blue);
    background: var(--color-white);
    color: var(--color-bg-variant);
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.submit_button:hover{
    background: rgba(255,255,255,0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.submit_button:active {
    box-shadow: inset 0px 3px 7px var(--color-light-blue);
    transform: translateY(2px);
}